<div class="py-4 mb-4 flex flex-row bg-[#2F2F2F] fixed z-20 min-w-full">
  <div class="border-red-600 border-t-2 w-1/3 mt-[18px]"></div>
  <h1 class="text-3xl text-center text-white w-1/3">Drivers</h1>
  <div class="border-red-600 border-t-2 w-1/3 mt-[18px]"></div>
</div>

<div class="md:ml-20 md:w-screen md:h-screen">
  <div *ngIf="drivers.length > 0" class="mb-24 md:w-1/2 lg:w-1/3">
    <div
      class="pt-8 w-screen grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  items-center justify-items-center md:pr-20">
      <app-driver class="pt-16" *ngFor="let driver of drivers" [driver]="driver"></app-driver>

    </div>
  </div>

  <div *ngIf="drivers.length === 0" class="mb-24 pt-24 text-center text-2xl">
    <img src="assets/f1.png" alt="F1">
    <p class="text-center text-2xl">Couldn't find any drivers now!</p>
  </div>
</div>
