<div class="md:ml-20 md:pb-0 md:max-w-screen md:h-screen">
  <div class="md:-ml-20 w-screen h-screen">
    <google-map *ngIf="races.length > 0" height="100%" width="100%" [options]="options" [zoom]="5" [center]="center">
      <map-marker #markerElem="mapMarker" *ngFor="let raceMarker of races; let i = index" [position]="getPos(i)"
                  [visible]="checkDate(i)"
                  [title]="raceMarker.name" (mapClick)="openInfo(markerElem, i)">
      </map-marker>
      <map-info-window [innerHTML]="infoContent"></map-info-window>
    </google-map>
    <div *ngIf="races.length === 0" class="mt-8">
      <img class="m-auto" src="assets/f1.png" alt="F1">
      <p class="text-center text-2xl">Couldn't find any race now!</p>
    </div>
  </div>
</div>
