<div class="mb-16 md:ml-24">
  <h1 class="font-Formula1Wide text-3xl my-8 text-center">Team ranking</h1>
  <div *ngIf="teams.length > 0;else noTeamRanking" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <div class="mb-4 mx-4" *ngFor="let team of teams;">
      <app-team-ranking [team]="team"></app-team-ranking>
    </div>
  </div>

  <ng-template #noTeamRanking>
    <div class="m-auto">
      <img class="m-auto" src="assets/f1.png" alt="F1">
      <p class="text-center text-2xl">Couldn't find any ranking now!</p>
    </div>
  </ng-template>
</div>
