  name: Update Submodules Daily

  on:
    schedule:
      - cron: '0 2 * * *'
    workflow_dispatch:

  permissions:
    contents: write

  jobs:
    update-submodules:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout umbrella repo
          uses: actions/checkout@v4
          with:
            submodules: recursive
            token: ${{ secrets.PAT_TOKEN}}

        - name: Set up Git
          run: |
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"

        - name: Run submodule update script
          run: |
            chmod +x update-submodules.sh
            ./update-submodules.sh
